* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.wrapper {
    max-width: 1068px;
    width: 100%;
    margin: 0 auto;
    padding: 90px 24px;
}
